.mgr-5px{margin-right:5px;}
#productsBox .col-sm-3{margin-bottom:5px;}

.table-children > td:first-child{border-left:2px solid #ccc;}
.table-children > td:last-child{border-right:2px solid #ccc;}
.fixed-left .table-children > td{border-right:none;}
.flexarea .table-children > td{border-left:none;border-right:none;}
.fixed-right .table-children > td{border-left:none;}
.table-children.table-child-top{border-top:2px solid #ccc;}
.table-children.table-child-bottom{border-bottom:2px solid #ccc;}
.table-striped>tbody>tr.table-children:nth-child(odd)>td, .table-striped>tbody>tr.table-children:nth-child(odd)>th{background-color:#fff;}

.red {color: #b90000;font-weight:bold}

.divmenu {z-index:99999;float:right}


#createActionMenu .dropdown-menu{width: 100%}

.dropdown-menu.with-search {padding: 0; min-width: 150px; overflow: hidden; max-height: 302px;}
.dropdown-menu > .menu-search .input-group {width:100%;}
.dropdown-menu > .menu-search .input-group-addon {position: absolute; right: 10px; top: 0; z-index: 10; background: none; border: none; color: #666}
.dropdown-menu > .menu-search .form-control {border: none!important; box-shadow: none!important; border-top: 1px solid #ddd!important;}
.dropdown-list {display: block; padding: 0; max-height: 270px; overflow-y: auto;}
.dropdown-list > li > a {display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 1.53846154; color: #141414; white-space: nowrap;}
.dropdown-list > li > a:hover,
.dropdown-list > li > a:focus {color: #1a4f85;text-decoration: none;background-color: #ddd;}

.pl-5px{padding-left:5px;}
.popoverStage{position:relative;}
.popoverStage .icon-caret-down{position:absolute;}
a.removeModule{color:#ddd}
a.removeModule:hover{color:red}

tbody > tr > td > .btn-icon {margin-right: 3px;}

.activeText{background-color: rgba(255, 0, 17, 0.18)}
.progressCompleted{background-color: rgba(0, 255, 14, 0.18)}
.progressInCompleted{background-color: rgba(0, 255, 14, 0)
}

.task-wait_check { color: #0056a2
}
.task-wait_check-by-me { color: #ff00e6}

.task-checked { color: #229f24 }