ALTER TABLE `zt_task` ADD `dept` MEDIUMINT(8) UNSIGNED NOT NULL DEFAULT 0;
ALTER TABLE `zt_task` ADD `pipeline` MEDIUMINT(8) UNSIGNED NOT NULL DEFAULT 0;
ALTER TABLE `zt_task` ADD `createtype` varchar(40) NOT NULL DEFAULT "";
